<body>
<div class="container">
  <input id="flip" type="checkbox">
  <div class="cover">
    <div class="front">
      <!-- <img src="assets/pizza1.jpg" alt=""> -->
      <div class="text">
        <span class="text-1">Foodie App</span>
        <span class="text-2">Let's get connected</span>
      </div>
    </div>
    <div class="back">
      <!-- <img class="backImg" src="assests/pizza.png" alt=""> -->
      <div class="text">
        <span class="text-1">Complete miles of journey <br> with one step</span>
        <span class="text-2">Let's get started</span>
      </div>
    </div>
  </div>
  <div class="forms">
    <div class="form-content">
      <div class="login-form">
        <div class="title">Login</div>
        <form [formGroup]="loginFormGroup">
          <div class="input-boxes">
            <div class="input-box">
              <i class="fas fa-envelope"></i>

              <input formControlName="uemailid" placeholder="Enter your email" required type="text">
            </div>
            <div class="input-box">
              <i class="fas fa-lock"></i>
              <input formControlName="upassword" placeholder="Enter your password" required type="password">
            </div>

            <div class="button input-box">
              <button (click)="loginCheck()" [disabled]="loginFormGroup.invalid" class="btn btn-secondary btn-rounded xz"
                      type="button">Login
              </button>
            </div>
            <div class="text sign-up-text">Don't have an account? <label for="flip">Sigup now</label></div>
          </div>
        </form>
      </div>
      <div class="signup-form">
        <div class="title">Signup</div>

        <form [formGroup]="registerFormGroup">
          <div class="input-boxes">

            <div class="input-box">
              <i class="fas fa-user"></i>

              <input formControlName="name" placeholder="Enter your name" required type="text">

            </div>
            <div class="input-box">
              <i class="fas fa-envelope"></i>

              <input (keyup)="onEmailChanged($event)" formControlName="emailid" placeholder="Enter your email" required
                     type="text">
            </div>
            <div class="input-box">
              <i class="fas fa-lock"></i>
              <input formControlName="password" placeholder="Enter your password" required type="password">
            </div>
            <div class="input-box">
              <i class="fas fa-address-card"></i>
              <input formControlName="address" placeholder="Enter your address" required type="text">
            </div>

            <div><span>Choose Profile Pic</span></div>


            <div class="input-box">

              <i class="fas fa-solid fa-image"></i>
              <input #myInput (change)="onFileChanged($event)" required type="file">
            </div>

            <div class="button input-box">
              <button (click)="register()" [disabled]="registerFormGroup.invalid" class="btn btn-secondary btn-rounded xz"
                      type="button">
                SignUp
              </button>
            </div>
            <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>










