<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" class="sidenav" fixedInViewport>
    <mat-toolbar class="position-fixed">Menu</mat-toolbar>
    <mat-nav-list class="mar">
      <div class="sideNav-pad">
        <a [routerLink]="['/profile',{
          outlets:{
            restdata:['dashboard']
          }
        }]" mat-list-item>
          <mat-icon class="side-nav-icons">home</mat-icon>
          Home
        </a>
        <a (click)="cart()" mat-list-item>
          <mat-icon class="side-nav-icons">add_shopping_cart</mat-icon>
          Cart
          <span class='badge badge-warning mz'> {{cartlength}} </span>
        </a>
        <a (click)="favourite()" mat-list-item>
          <mat-icon class="side-nav-icons">favorite_border</mat-icon>
          Favorites
          <span class='badge badge-warning mz' id='lblCartCount'> {{favlength}} </span>
        </a>
        <a (click)="orderhistory()" mat-list-item>
          <mat-icon class="side-nav-icons">description</mat-icon>
          Order history
        </a>
        <!-- <a mat-list-item href="#">
          <mat-icon class="side-nav-icons">history</mat-icon> History
        </a> -->

        <!-- <a mat-list-item routerLink="/upload">Upload</a>
        <a mat-list-item routerLink="/live">LiveStream</a> -->
        <hr class="hr-class">
        <p class="list-para">

      </div>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <div class="head">
      <div class="head-flex">

        <mat-toolbar color="primary">
          <button (click)="drawer.toggle()" *ngIf="isHandset$" aria-label="Toggle sidenav" mat-icon-button
                  type="button">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <span [routerLink]="['/profile',{
          outlets:{
            restdata:['dashboard']
          }
        }]" class="active">Foodie App</span>
          <!-- <span>search bar and setting icons</span> -->
        </mat-toolbar>


        <mat-toolbar color="primary" style="justify-content: center;">
          <mat-form-field style="width: 40%;">
            <input [(ngModel)]="searchInput" [ngModelOptions]="{standalone: true}" matInput placeholder="Search">
          </mat-form-field>
          <mat-form-field [formGroup]="searchForm">
            <mat-label>Select an option</mat-label>
            <mat-select formControlName="search">

              <mat-option *ngFor="let prf of option" [value]="prf">{{prf}}</mat-option>

            </mat-select>
          </mat-form-field>

          <button (click)="search()" mat-icon-button>
            <mat-icon matTooltip="Search">search</mat-icon>
          </button>

        </mat-toolbar>

        <mat-toolbar color="primary" style="justify-content:right;">
          <span
            style="margin-right: 10px;font-family:'Times New Roman', Times, serif;padding-top: 5px;">Welcome {{tempname}}</span>
          <button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" mat-icon-button>
            <div class="logo-image">
              <img [src]="path" class="img-fluid">
            </div>

          </button>


          <!-- <button mat-icon-button>
            <mat-icon matTooltip="Log Out">login</mat-icon>

          </button> -->

          <mat-menu #menu="matMenu">
            <!-- dropdwon -->
            <button (click)="signout()" mat-menu-item>
              <mat-icon>login</mat-icon>
              <span>SignOut</span>
            </button>
            <!-- <button mat-menu-item>
              <mat-icon>help</mat-icon>
              <span>Help</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>feedback</mat-icon>
              <span>Send feedback</span>
            </button> -->
          </mat-menu>
        </mat-toolbar>

      </div>
    </div>
    <div class="router">
      <router-outlet name="restdata"></router-outlet>
    </div>
    <div class="foot">
      <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © Email Id: dineshfoodcourt@gmail.com
          <i aria-hidden="true" class="fa fa-facebook-square" style="font-size:20px;margin-left:5px"></i>
          <i aria-hidden="true" class="fa fa-twitter-square" style="font-size:20px;margin-left:5px"></i>
          <i aria-hidden="true" class="fa fa-youtube-square" style="font-size:20px;margin-left:5px"></i>
          <i aria-hidden="true" class="fa fa-github-square" style="font-size:20px;margin-left:5px"></i>
        </div>
      </footer>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
